<html>
<head>
    <title>Full Screen Picture</title>
    <style>
        body 
        {
            background-image: url("<%= img %>");
            background-repeat: no-repeat;
            background-position: center;
        }
        h1 
        {
            font-family: sans-serif; 
            font-size: 36px; 
            position:absolute; 
            top: 125px; 
            left: 35px; 
            width: 350px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 id="msg"><%= msg %></h1>
</body>
</html>